@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #8800C7   ;
  --secondary-color: #A44CD3 ;
  --accent1-color: #E090DF;
  --accent2-color: #FBBEDE;

  /* change the values below to your chosen font(s) */
  --heading-font: "IM Fell French Canon SC";
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #8800C7;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #A44CD3; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #E090DF  ;
  --nav-link-color: #000000;
  --nav-background-color: #E090DF;
  --nav-hover-link-color: #000000;
  --nav-hover-background-color: #8800C7;
}

  .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; 
}

.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; 
}

header {
  display:grid;
  grid-template-columns:3fr 5fr;

}

header h2 {
  display: inline-block;
}
header nav {
  justify-self:end;
}
.dropdown {

    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.button{
text-align: right;
max-width:400px

}

.skin{
grid-row: 1/2;
grid-column: 1/2;
margin-top:100px;
}
.banner-holder {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
}
.sub {
  grid-row: 1/2;
  grid-column: 2/2;
}
.scrub1{
  float: right;

}

.collection-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  width: 100%;
  grid-column-gap: 0.3em;
}

.button{
  background-color: #442C6E;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: .2s;
  margin: auto;
  border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    display: block;
 

}

.button:hover {
  background-color: #3e8e41;
}

.navcenter {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.navcenter a {
  text-decoration: none;
  padding: .3em;
}

.collectionh2 {
text-align: center;
}
.centerbutton{

  place-items: center;
}

body {font-family: 'helvetica';}

.centergrid {
  grid-row: 2/3;
  grid-column: 2/3;
}