.h1 { font-size: 2em;


}

.paragraph

{

margin-top:20px;
margin-bottom:20px;
margin-right:50px;
margin-left:50px;



}

.paragraph2

{
size: 3em;
background-color: aqua;

}

Stuttgart

{
    width=350px
    padding=15x



}