@import url(https://fonts.google.com/specimen/Roboto+Slab);


#content{
    max-width: 1600px;
    margin: 0 auto;
}

.center

{
text-align: center;


}

#background{
    background-color: cornflowerblue;
    height: 725px;
}

body {
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
}

header{

    background-color: darkgreen;
}

nav a:hover {
background-color: black;
color: darkgoldenrod;
}

nav a{
text-align: center;
color: crimson;
text-decoration: none;
padding: 35px;
}
#hero-msg h1, #hero-msg h4{
text-align: center;
}
.button-box{
text-align: center;
}
main section{
text-align: center;
}

.book{
background-color: cornflowerblue;
color: darkmagenta;
text-decoration: none;
font-size: 18px;
padding: 15px 30px;
margin-top: 50px;
border-radius: 5px;
}

.join{
background-color: rgb(82, 126, 28);
color: chartreuse;
text-decoration: none;
font-size: 18px;
margin-top: 50px;
}
.book:hover{
background-color: rgb(202, 41, 121);
color: blueviolet;
} 
.join:hover{
background-color: rgb(225, 113, 16);
color: darkorange;
}

.msg{
    background-color: rgb(110, 224, 48);
    line-height: 1.5em;
    padding: 35px;
}
footer{
background-color: rgb(201, 138, 188);
color: grey;
padding: 25px 50px;
margin-top: 200px;
}
.hometitle{
    color: darkseagreen;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: brown;
}

.msg h2{
color: blue;
}
.msg p{
color: chartreuse;
font-size: .8em;
padding-bottom: 15px;
}
footer a{
color: darkturquoise;
text-decoration: none;
}
footer a:hover{
color: fuchsia;
}
.icon{
width: 80px;
padding-top: 10px;
}

footer p {
    font-size: 1.2em;
}  
footer p a:hover {
text-decoration: underline;
} 

h2{
margin: 0;
}

#logo_link{
    padding-top:5px
}

footer .social img{
padding-top: 15px;
}
.rivers-card{
    margin:200px 0
}
.camping-card{
    margin:200px 0
}
.rapids-card{
    margin:200px 0
}
.card-img{
    border: 10px solid #d9c2a3
}

main section img {
    box-sizing: border-box;
}